Таблица: {{ddl.selectedTable.name}}

<table border="1">
    <tr>
        <td></td>
        <td>Код</td>
        <td>Имя</td>
    </tr>
    <tr ng-repeat="fld in ddl.selectedTable.fields" ng-click="ddl.SelectField(fld)"
        ng-class="{'selected' : fld==ddl.selectedField }">
        <td>
            <i class="bi bi-check-lg" ng-click="ddl.SaveField(fld)" ng-if="fld.IsDirty||fld.IsNew"></i>
            <i class="bi bi-x-circle-fill" ng-click="ddl.DeleteField(fld)"></i>
        </td>
        <td>
            <input name="fldName" ng-if="fld.IsNew" type="text" ng-model="fld.name">
            <span ng-if="!fld.IsNew"> {{fld.name}}</span>
        </td>
        <td>
            <input name="fldAslias" ng-if="fld.IsNew" type="text" ng-model="fld.alias">
            <span ng-if="!fld.IsNew"> {{fld.alias}}</span>
        </td>        

    </tr>
    <tr>
        <td colspan="3">
            <i class="bi bi-plus-circle-fill" ng-click="ddl.addField()">Добавить поле</i>
        </td>
    </tr>
</table>