Поле: {{ddl.selectedTable.name}} : {{ddl.selectedField.path}}
<table border="1">
    <tbody>
        <tr>
            <td>Код</td>
            <td>
                <input name="fldName" ng-if="ddl.selectedField.IsNew" type="text" ng-model="ddl.selectedField.name" ng-change="ddl.OnEditField()">
                <span ng-if="!ddl.selectedField.IsNew"> {{ddl.selectedField.name}}</span>
            </td>
        </tr>

        <tr>
            <td>Название</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.alias" ng-change="ddl.OnEditField()">
            </td>
        </tr>

        <tr>
            <td>Type</td>
            <td>
                <select name="fldType" ng-model="ddl.selectedField.type" ng-change="ddl.OnEditField()">
                    <option value="number">Число</option>
                    <option value="text">Текст</option>
                    <option value="dict">Словарь</option>
                    <option value="extdict">Внешний Словарь</option>
                    <option value="subclass">Подкласс</option>
                    <option value="subtable">Массив</option>
                </select>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td colspan="2">Информация о поле</td>
        </tr>

        <tr>
            <td>Описание</td>
            <td>
                <textarea rows="3" ng-model="ddl.selectedField.descr" ng-change="ddl.OnEditField()"></textarea>
            </td>
        </tr>
    </tbody>

    <tbody ng-show="ddl.selectedField.type=='dict'">
        <tr>
            <td>Название словаря</td>
            <td>
                <select type="text" ng-model="ddl.selectedField.dictId" ng-change="ddl.OnEditField()"
                    ng-options="voc.id as voc.name for voc in ddl.vocList track by voc.id">
            </td>
        </tr>

        <!-- <tr>
            <td>Мультивыбор</td>
            <td>
                <input type="checkbox" ng-model="ddl.selectedField.dictMultiSelect" ng-change="ddl.OnEditField()">
            </td>
        </tr> -->
    </tbody>

    <tr>
        <td>Показывать как URL</td>
        <td>
            <input type="checkbox" ng-model="ddl.selectedField.showUrl" ng-change="ddl.OnEditField()">
        </td>
    </tr>

    <tbody ng-show="ddl.selectedField.showUrl">
        <tr>
            <td>Поле URL</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.urlSubfield" ng-change="ddl.OnEditField()">
            </td>
        </tr>
        <tr>
            <td>префикс URL</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.urlPrefix" ng-change="ddl.OnEditField()">
            </td>
        </tr>
        <tr>
            <td>постфикс URL</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.urlPostfix" ng-change="ddl.OnEditField()">
            </td>
        </tr>
    </tbody>


    <tbody ng-show="ddl.selectedField.type=='extdict'">
        <tr>
            <td colspan="2">Внешний словарь</td>
        </tr>

        <tr>
            <td>rest URL - список терминов</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.extUrlGet" ng-change="ddl.OnEditField()">
            </td>
        </tr>
        <tr>
            <td>JSON path - список</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.extJsonPath" ng-change="ddl.OnEditField()">
            </td>
        </tr>
        <tr>
            <td>Поле ID</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.extFieldID" ng-change="ddl.OnEditField()">
            </td>
        </tr>
        <tr>
            <td>Поле Название</td>
            <td>
                <input type="text" ng-model="ddl.selectedField.extFieldName" ng-change="ddl.OnEditField()">
            </td>
        </tr>

    </tbody>


</table>