<i class="bi bi-plus-circle-fill" ng-show="ctrl.selectedVocabulary.IsNew || ctrl.selectedVocabulary.IsDirty"
    ng-click="ctrlVoc.SaveVocabulary(ctrl.selectedVocabulary)">Сохранить</i>

<table border="1">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="term in ctrlVoc.termsList track by $index" ng-click="ctrlVoc.SelectTerm(term)"
            ng-class="{'selected' : term==ctrlVoc.selectedTerm }">
            <td>
                <i class="bi bi-x-circle-fill" ng-click="ctrlVoc.RemoveTerm(term)"></i>
            </td>
            <td>
                <input ng-model="term.name">
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <i class="bi bi-plus-circle-fill bi-green" ng-click="ctrlVoc.AddTerm()">Добавить термин</i>
            </td>
        </tr>
    </tbody>

</table>