<table border="1">
    <tr>
        <td>ID</td>
        <td>{{ctrlVoc.selectedTerm.id}} </td>
    </tr>
    <tr>
        <td>Название</td>
        <td><input type="text" ng-model="ctrlVoc.selectedTerm.name" ng-change="ctrlVoc.MarkSelectedVocabulary"> </td>
    </tr>
    <tr>
        <td>Код</td>
        <td><input type="text" ng-model="ctrlVoc.selectedTerm.code" ng-change="ctrlVoc.MarkSelectedVocabulary"> </td>
    </tr>
    <tr>
        <td>Описание</td>
        <td><input type="text" ng-model="ctrlVoc.selectedTerm.descr" ng-change="ctrlVoc.MarkSelectedVocabulary"> </td>
    </tr>
</table>