<table border="1">
    <thead>
        @for (int level = 0; level < Model.columns.Count; level++)
        {
            <tr>
                @if (level == 0)
                {
                    <th rowspan="100">&nbsp</th>
                }

                @foreach (var clmn in Model.columns[level])
                {
                    <partial name="dataTableHeadComplex.cshtml" model="clmn" />
                }
            </tr>
        }
    </thead>
    <tbody>
        <tr>
            <td>
                <button ng-click="dml.AddRow()">Add row</button>
            </td>
        </tr>

        <tr ng-repeat="row in dml.rowsList | filter:dml.searchString"
            ng-class="{'selected' : row.data==dml.selectedRow.data }">
            <td>
                <button ng-click="dml.SaveRow(row)" ng-show="row.IsDirty||row.IsNew">Save</button>
                <button ng-click="dml.SelectRow(row)">Open</button>
            </td>
            <td ng-if="dml.show['_id']">
                {{row._id}}
            </td>

            @foreach (var fld in Model.table.fields)
            {
                <partial name="dataTableCell.cshtml" model="fld" />
            }

        </tr>


    </tbody>

</table>