<table border="1">
    <thead>
        <tr>
            <th></th>
            <td ng-if="dml.show['_id']">ID</td>
            @foreach (var fld in Model.table.fields)
            {
                <th ng-if="dml.show['@fld.name']">
                    @(fld.alias ?? fld.name)
                    @if (fld.descr != null && fld.descr != "")
                    {
                        <a href="#" title="@fld.descr">[?]</a>
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button ng-click="dml.AddRow()">Add row</button>
            </td>
        </tr>

        <tr ng-repeat="row in dml.rowsList | filter:dml.searchString" ng-click="dml.SelectRow(row)"
            ng-class="{'selected' : row.data==dml.selectedRow.data }">
            <td>
                <button ng-click="dml.SaveRow(row)" ng-show="row.IsDirty||row.IsNew">Save</button>
                <button ng-click="dml.OpenCard(row)">Open</button>
            </td>
            <td ng-if="dml.show['_id']">
                {{row._id}}
            </td>

            @foreach (var fld in Model.table.fields)
            {
                <td ng-if="dml.show['@fld.name']">
                    @if (fld.type == "dict")
                    {
                        <partial name="fieldDict.cshtml" model="fld" />
                    }
                    else if (fld.type == "extdict")
                    {
                        <partial name="fieldExtDict.cshtml" model="fld" />
                    }
                    else
                    {
                        <partial name="fieldText.cshtml" model="fld" />
                    }


                </td>
            }

        </tr>


    </tbody>

</table>