<button ng-click="dml.SelectRowReset()" class="rightAlign">X</button>

<span>
    Свойства записи:
</span>


<table border="1" style="width: 100%;">
    <tbody>
        @foreach (var subFld in Model.table.fields)
        {
            <partial name="rowCardRow.cshtml" model="subFld" />
        }
    </tbody>
</table>
