@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">DDL Editor</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div ng-app="tableEditor">
    <div ng-controller="ddl as ddl">
        <table width="100%" border="1">
            <tr>
                <td width="20%">
                    <h1>Tables</h1>
                </td>
                <td width="40%">
                    <h1>Fields</h1>
                </td>
                <td width="40%">
                    <h1>Fields</h1>
                </td>
            </tr>
            <tr>
                <td class="mainTbl">
                    <div ng-include="'/tmplt/tablesList.html'"></div>
                </td>
                <td class="mainTbl">
                    <div ng-show="ddl.selectedTable != null" ng-include="'/tmplt/fieldsList.html'"></div>
                </td>
                <td class="mainTbl">
                    <div ng-show="ddl.selectedField != null" ng-include="'/tmplt/fieldInfo.html'"></div>
                </td>
            </tr>
        </table>
    </div>
</div>


@section Scripts
{
<script src="@Url.Content("~/js/main.js")"></script>
<script src="@Url.Content("~/js/ctrlDdlTables.js")"></script>
}