@model app.Controllers.mdField


<li>
    @if (Model.type=="subclass")
    {
        @(Model.alias ?? Model.name)
        <ul>
            @foreach (var fld in Model.children)
            {
                <partial name="FieldSelector.cshtml" model="fld" />
            }

        </ul>
    }
    else
    {
        <input type="checkbox" ng-model="dml.show['@Model.Path']" ng-change="dml.onFieldsChange('@Model.PathToLoad')">
        @(Model.alias ?? Model.name)
    }
</li>
