@model app.Controllers.TableViewModel
@{
    ViewData["Title"] = "Table view";
}

<div class="text-center">
    <h1 class="display-4">Table View/Edit</h1>
</div>

@Model.tableCode


<div ng-app="tableEditor">
    <div ng-controller="dml as dml" ng-init="dml.InitTableCode('@Model.tableCode')">

        <table>
            <tr>
                <td class="mainTbl">
                    <ul>
                        @foreach (var fld in Model.table.fields)
                        {
                            <partial name="FieldSelector.cshtml" model="fld" />
                            
                        }

                    </ul>

                </td>
                <td class="mainTbl">
                    Search: <input name="tableSearch" type="text" ng-model="dml.searchString"
                        ng-model-options='{ debounce: 1000 }'>
                    <partial name="Table/dataTable.cshtml" />
                </td>
            </tr>
        </table>

        <div ng-if="dml.selectedRow.data" ng-init="row=dml.selectedRow" class="popupWin">
            <partial name="Table/rowCard.cshtml" />
        </div>
    </div>
</div>


@section Scripts
{
<script src="@Url.Content("~/js/main.js")"></script>
<script src="@Url.Content("~/js/ctrlTableView.js")"></script>
}